@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* .wrapper {
  display: flex;
} */

.resizable-box {
  float: left;
  border: 2px solid black;
  width: 200px;
  
}

.gutter {
  background: rgba(255, 255, 255, 0.05);
  flex-shrink: 0;
}

.gutter-horizontal {
  cursor: ew-resize;
}

.gutter-vertical {
  cursor: ns-resize;
}

.container-editor-area {
  overflow: auto;
  padding-left: 3em;
  margin: 1.67em 0;
}

.container-editor {
  counter-reset: line;
}

.container-editor-line-number:before {
  position:absolute;
  right: 100%;
  margin-right: 10px;
  text-align: right;
  opacity: .3;
  user-select: none;
  counter-increment: line;
  content: counter(line);
}

.container__editor textarea {
  outline: 0;
}

